.slide-container{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
}
.arrow{
    width: 50px;
    height: 50px;
    background-color: #fff7f7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    opacity: 0.7;
    z-index: 2;
}
.wrapper{
    height: 100%;
    display: flex;
    transition: all 1.5s ease ;
}
.slide{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.imgcontainer{
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    /* margin: auto; */
    align-items: center;
}
.imgcontainer img{
    height: 80%;
}
.infocontainer{
    flex: 1;
    padding: 50px;
}
.infocontainer h1{
    font-size: 70px;
}
.infocontainer p{
    margin: 50px 0px;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 3px;
}
.infocontainer button{
    padding: 10px;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
}