.productList-title{
    margin: 20px;
}
.filtercontainer{
    display: flex;
    justify-content: space-between;
}
.filter{
    margin: 20px;
}
.filtertext{
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
}
.filter select{
    padding: 10px;
  margin-right: 20px;
}